<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>SoftGIS API test</title>
        
        {% ifequal lib "esri" %}        
            <script type="text/javascript" src="https://serverapi.arcgisonline.com/jsapi/arcgis/?v=2.3"></script>
            <!--  <script type="text/javascript" src="http://api.softgis.fi/softgis_client/softgis.js?lib=esri"></script> -->
           <script type="text/javascript" src="{% url api_javascript %}?lib=esri"></script> 
        {% endifequal %}
        
        {% ifequal lib "jquery" %}
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
            <script type="text/javascript" src="http://api.softgis.fi/softgis_client/softgis.js?lib=jquery"></script>             
            <!--<script type="text/javascript" src="{% url api_javascript %}?lib=jquery"></script>-->
        {% endifequal %}
        
    </head>
    <body>
        <p>
            This page loaded the softgis dojo javascript api,
            
            you can test it further in a javascript console.
        </p>
        <div id="results" style="color:red"></div>
        <script>
        
        {% ifequal lib "esri" %}
            // collect the esri javascript api tests here
            
        {% endifequal %}
        
        {% ifequal lib "jquery" %}
            // collect the jquery javascript api tests here
            
        {% endifequal %}
        
        </script>
    </body>
</html>
